parameters:
    avatars_directory: '%kernel.project_dir%/public/uploads/avatars'

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    App\Controller\:
        resource: '../src/Controller/'
        tags: ['controller.service_arguments']

    App\Security\Voter\:
        resource: '../src/Security/Voter/'
        tags: ['security.voter']

    App\EventListener\:
        resource: '../src/EventListener/'
